.profile__edit-button {
  background-image: url(../../../images/Editbutton.svg);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}

@media screen and (max-width: 680px) {
  .profile__edit-button {
    background-image: url(../../../images/Editbutton.svg);
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
}
