.page {
  background-color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #fff;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  .page {
    max-width: 660px;
  }
}

@media only screen and (max-width: 680px) {
  .page {
    max-width: 320px;
  }
}
