.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 30px 51px 0;
}

@media screen and (max-width: 880px) {
  .profile__image {
    margin-left: 25px;
  }
}

@media screen and (min-width: 321px) and (max-width: 580px) {
  .profile__image {
    margin: 42px auto 30px auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__image {
    margin: 42px 99px 30px 101px;
  }
}
