.cards__element__title {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 210px;
}
