.profile__add-button {
  margin-left: auto;
  background-color: #000;
  background-image: url(../../../images/Addbutton.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 950px) {
  .profile__add-button {
    max-width: 60px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 680px) {
  .profile__add-button {
    width: 100%;
    max-width: 282px;
    margin: 36px 0 0;
    background-size: 16px 16px;
  }
}
