.card__like-button {
  margin-right: 20px;
  background-image: url(../../../../images/Likebutton.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 21px;
  border: none;
  background-color: white;
  padding: 0 10px;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_is-active {
  background-image: url(../../../../images/likebutton-active.svg);
  transition: opacity 0.2s linear;
}
