.modal__container {
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  z-index: 2;
  margin: 195px 425px;
}

@media screen and (max-width: 680px) {
  .modal__container {
    width: 282px;
  }
}
