.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "title .";
  align-items: center;
}

@media screen and (max-width: 880px) {
  .profile__info {
    margin-top: 15px;
    grid-template-columns: 235px 55px;
  }
}

@media screen and (max-width: 628px) {
  .profile__info {
    grid-template-columns: 200px 70px;
  }
}

@media screen and (min-width: 321px) and (max-width: 580px) {
  .profile__info {
    justify-content: center;
    grid-template-columns: 275px 50px;
    margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    grid-template-columns: 275px 40px;
  }
}
