.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "title .";
  grid-template-rows: minmax(auto, 45px);
  gap: 16px 18px;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .profile__info {
    grid-template-areas:
      "name button"
      "title .";
    grid-template-rows: repeat(2, 22px);
    column-gap: 10px;
    row-gap: 14px;
  }
}
